In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
#from sklearn.preprocessing import StandardScaler

In [2]:
# Set working directory
os.chdir('C:/Users/user/Documents/Berkeley_MIDS/W207_Machine_Learning/w207_final_project')

In [3]:
# Load first npz file as an example and get files
data_1 = np.load('et_w207_project_npz_files_5000_tmp_tmp5ocrhjnn.npz')
data_1.close
data_1.files

['arr_0', 'arr_1']

In [4]:
# Show file arr_0 example
data_1['arr_0'][:5]

array(['ozbpir-9ey6js-ggdqwo', '378ykanq', 'p366md-big834-7o23k6',
       '3zruwvl2', 'q18iae-3vnh74-79npmy'], dtype='<U20')

In [5]:
# Show file arr_1 example
data_1['arr_1'][:5]

array([[-103.939   , -116.779   , -123.68    , ..., -103.939   ,
        -116.779   , -123.68    ],
       [ -46.939003,  -74.779   , -118.68    , ...,  -57.939003,
         -84.779   , -118.68    ],
       [ 151.061   ,  138.22101 ,  131.32    , ...,  151.061   ,
         138.22101 ,  131.32    ],
       [  -3.939003,  -66.779   ,  -96.68    , ...,   -3.939003,
         -66.779   ,  -96.68    ],
       [-103.939   , -116.779   , -123.68    , ..., -103.939   ,
        -116.779   , -123.68    ]], dtype=float32)

In [6]:
# Load all data files
data_2 = np.load('et_w207_project_npz_files_5000_tmp_tmp092sag67.npz')
data_2.close
print(data_2.files)

data_3 = np.load('et_w207_project_npz_files_5000_tmp_tmpf31_pn8p.npz')
data_3.close
print(data_3.files)

data_4 = np.load('et_w207_project_npz_files_5000_tmp_tmpq5b2g4n2.npz')
data_4.close
print(data_4.files)

['arr_0', 'arr_1']
['arr_0', 'arr_1']
['arr_0', 'arr_1']

In [7]:
# Get size of each file
print(data_1['arr_0'].shape)
print(data_1['arr_1'].shape)

(878,)
(878, 150528)

In [8]:
print(data_2['arr_0'].shape)
print(data_2['arr_1'].shape)

(893,)
(893, 150528)

In [9]:
print(data_3['arr_0'].shape)
print(data_3['arr_1'].shape)

(638,)
(638, 150528)

In [10]:
print(data_4['arr_0'].shape)
print(data_4['arr_1'].shape)

(1353,)
(1353, 150528)

In [7]:
# Concatenate image vectors from all files
# Concatenate data from all files
data_key = np.concatenate((data_1['arr_0'], data_2['arr_0'], data_3['arr_0'], data_4['arr_0']))
print(data_key.shape)

(3762,)

In [8]:
data_pixel = np.concatenate((data_1['arr_1'], data_2['arr_1'], data_3['arr_1'], data_4['arr_1']))
print(data_pixel.shape)

(3762, 150528)

In [9]:
# Store pixel vectors as DF with attachment key

# Create key value pairs with arr0 (attachment key) and standardized arr1 (pixel array)
# Standardize pixel values between 0 and 1 by dividing by 255
data_dict = {}
for i in range(data_key.shape[0]):
    data_dict[data_key[i]] = [data_pixel[i]/255]

df_pixel = pd.DataFrame(data=data_dict)
df_pixel_t = df_pixel.transpose()
df_pixel_t.index.names = ['attachment_key']
df_pixel_t.columns = ['pixel_array']
df_pixel_t

                                                            pixel_array
attachment_key
ozbpir-9ey6js-ggdqwo  [-0.40760392, -0.45795685, -0.4850196, -0.4076...
378ykanq              [-0.18407452, -0.29325098, -0.46541175, -0.097...
p366md-big834-7o23k6  [0.5923961, 0.54204315, 0.51498044, 0.5923961,...
3zruwvl2              [-0.015447071, -0.26187843, -0.37913725, -0.01...
q18iae-3vnh74-79npmy  [-0.40760392, -0.45795685, -0.4850196, -0.4076...
...                                                                 ...
pktyig-481wyg-6gyulf  [-0.3605451, -0.41089803, -0.38305882, -0.3644...
zu7y3rha              [-0.007603933, -0.05795686, -0.08501961, -0.00...
pxcwxf-8tnpyg-8vhb9r  [0.3022, 0.18125883, 0.12674509, 0.31004313, 0...
p4hakf-fsskmw-1224up  [-0.40368235, -0.45403528, -0.48109803, -0.387...
ptuhsk-22124o-f0sxoc  [0.43945488, 0.39302352, 0.3502745, 0.44729802...

[3759 rows x 1 columns]

In [10]:
# Load excel data
df = pd.read_csv('school_project_data_set-new.csv')
df.head()

,attachment_key,size_mb,height,width,h_to_w,filename,logo
0,001lq61k,0.122520,514.0,720.0,0.713889,campus ministry on the beach.jpg,0
1,002dlirq,3.256944,4072.0,3868.0,1.052741,BIG ALS FISH FLASH UV VP PL.jpg,0
2,003qefgm,0.002522,80.0,200.0,0.400000,netix_email_studio.png,1
3,0083okjl,0.116802,600.0,600.0,1.000000,productshot2.jpg,0
4,00a957mh,0.140714,816.0,2382.0,0.342569,divine_medical_billing_inc_master.png,1

In [11]:
# Merge dataframes by attachment key
merge_meta_pixel = df.merge(df_pixel_t, on='attachment_key')
merge_meta_pixel

,attachment_key,size_mb,height,width,h_to_w,filename,logo,pixel_array
0,00xjny6u,0.011849,520.0,506.0,1.027668,Esterdale Theatre - Logo.png,1,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,..."
1,04o31jop,0.012610,269.0,396.0,0.679293,BLUE_LOGO.png,1,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,..."
2,0840h7ox,0.399114,518.0,920.0,0.563044,ZEN_LB-5.jpg,0,"[0.106121555, 0.05576863, 0.052235294, 0.09043..."
3,0awudx2h,0.011226,200.0,200.0,1.000000,article central 200.jpg,1,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,..."
4,0bb8y85h,0.263813,885.0,800.0,1.106250,1116-100_WGTank_white.jpg,0,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,..."
...,...,...,...,...,...,...,...,...
3750,zu7y3rha,0.147371,498.0,702.0,0.709402,journalism.jpg,0,"[-0.007603933, -0.05795686, -0.08501961, -0.00..."
3751,zuanbsqe,0.580392,206.0,415.0,0.496386,2013 05 26_techstars_id_final_bug solo graysca...,1,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,..."
3752,zw9234v4,2.021135,1645.0,1450.0,1.134483,SPIN N GLO SILVER WING GPK MY.jpg,0,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,..."
3753,zxfqbfj1,0.012057,36.0,345.0,0.104348,cornerstone web logo medium.png,1,"[-0.40760392, -0.45795685, -0.4850196, -0.4076..."
3754,zzgkjqna,0.027983,56.0,350.0,0.160000,fieldcontrolslogohorz web.jpg,1,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,..."

In [12]:
merge_meta_pixel = merge_meta_pixel[['attachment_key', 'size_mb', 'height', 'width', 'h_to_w',  'pixel_array', 'filename','logo']]
merge_meta_pixel.head()

,attachment_key,size_mb,height,width,h_to_w,pixel_array,filename,logo
0,00xjny6u,0.011849,520.0,506.0,1.027668,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",Esterdale Theatre - Logo.png,1
1,04o31jop,0.012610,269.0,396.0,0.679293,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",BLUE_LOGO.png,1
2,0840h7ox,0.399114,518.0,920.0,0.563044,"[0.106121555, 0.05576863, 0.052235294, 0.09043...",ZEN_LB-5.jpg,0
3,0awudx2h,0.011226,200.0,200.0,1.000000,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",article central 200.jpg,1
4,0bb8y85h,0.263813,885.0,800.0,1.106250,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",1116-100_WGTank_white.jpg,0

In [13]:
# Find file types from filename
file_types = []
for item in merge_meta_pixel['filename']:
    file_types.append(item[-3:].lower())

print(set(file_types))

{'png', '0mm', 'jpg', 'pig', 'age', 'jpe', 'ack', 'hot', '73e', 'peg', 'lue', 'ite'}

In [14]:
# Create list of file types from filename to append to df
filetype_encoding = []
for item in merge_meta_pixel['filename']:
    if item[-3:].lower() == 'jpg':
        filetype_encoding.append('jpg')
    elif item[-3:].lower() == 'png':
        filetype_encoding.append('png')
    else:
        filetype_encoding.append('other')

In [15]:
# Create df that includes column for file type
merge_meta_pixel['filetype'] = filetype_encoding
merge_meta_pixel = merge_meta_pixel[['attachment_key', 'size_mb', 'height', 'width', 'h_to_w', 'filetype', 'pixel_array', 'filename','logo']]
merge_meta_pixel.head()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,attachment_key,size_mb,height,width,h_to_w,filetype,pixel_array,filename,logo
0,00xjny6u,0.011849,520.0,506.0,1.027668,png,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",Esterdale Theatre - Logo.png,1
1,04o31jop,0.012610,269.0,396.0,0.679293,png,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",BLUE_LOGO.png,1
2,0840h7ox,0.399114,518.0,920.0,0.563044,jpg,"[0.106121555, 0.05576863, 0.052235294, 0.09043...",ZEN_LB-5.jpg,0
3,0awudx2h,0.011226,200.0,200.0,1.000000,jpg,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",article central 200.jpg,1
4,0bb8y85h,0.263813,885.0,800.0,1.106250,jpg,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",1116-100_WGTank_white.jpg,0

In [16]:
# Get dummies for file type
filetype_dummies = pd.get_dummies(merge_meta_pixel.filetype)

# add to initial df
merge_meta_pixel = pd.concat((merge_meta_pixel, filetype_dummies), axis=1)

# print head of df
merge_meta_pixel.head()

,attachment_key,size_mb,height,width,h_to_w,filetype,pixel_array,filename,logo,jpg,other,png
0,00xjny6u,0.011849,520.0,506.0,1.027668,png,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",Esterdale Theatre - Logo.png,1,0,0,1
1,04o31jop,0.012610,269.0,396.0,0.679293,png,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",BLUE_LOGO.png,1,0,0,1
2,0840h7ox,0.399114,518.0,920.0,0.563044,jpg,"[0.106121555, 0.05576863, 0.052235294, 0.09043...",ZEN_LB-5.jpg,0,1,0,0
3,0awudx2h,0.011226,200.0,200.0,1.000000,jpg,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",article central 200.jpg,1,1,0,0
4,0bb8y85h,0.263813,885.0,800.0,1.106250,jpg,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",1116-100_WGTank_white.jpg,0,1,0,0

In [17]:
# Organize df to separate into feature arrays
merge_meta_pixel = merge_meta_pixel[['attachment_key', 'pixel_array', 'size_mb', 'h_to_w', 'jpg', 'png', 'other',
                                     'logo', 'height', 'width', 'filetype', 'filename']]
merge_meta_pixel.head()

,attachment_key,pixel_array,size_mb,h_to_w,jpg,png,other,logo,height,width,filetype,filename
0,00xjny6u,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",0.011849,1.027668,0,1,0,1,520.0,506.0,png,Esterdale Theatre - Logo.png
1,04o31jop,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",0.012610,0.679293,0,1,0,1,269.0,396.0,png,BLUE_LOGO.png
2,0840h7ox,"[0.106121555, 0.05576863, 0.052235294, 0.09043...",0.399114,0.563044,1,0,0,0,518.0,920.0,jpg,ZEN_LB-5.jpg
3,0awudx2h,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",0.011226,1.000000,1,0,0,1,200.0,200.0,jpg,article central 200.jpg
4,0bb8y85h,"[0.5923961, 0.54204315, 0.51498044, 0.5923961,...",0.263813,1.106250,1,0,0,0,885.0,800.0,jpg,1116-100_WGTank_white.jpg

In [46]:
# Scale continuous feature variables
merge_meta_pixel['size_mb'] = preprocessing.scale(merge_meta_pixel['size_mb'])
merge_meta_pixel['h_to_w'] = preprocessing.scale(merge_meta_pixel['h_to_w'])
merge_meta_pixel['height'] = preprocessing.scale(merge_meta_pixel['height'])
merge_meta_pixel['width'] = preprocessing.scale(merge_meta_pixel['width'])

# Create X and y arrays
# X array contains pixel array only (150528 features)
y = np.array(merge_meta_pixel.iloc[:, 7])
X = np.array(merge_meta_pixel['pixel_array'].tolist())
print(X.shape)

# X2 array contains pixel array, size, h_to_w, filetype dummies
X2 = np.concatenate((X, np.array(merge_meta_pixel.iloc[:, 2:7])),axis=1)
print(X2.shape)

# X3 array contains pixel array, size, h_to_w
X3 = np.concatenate((X, np.array(merge_meta_pixel.iloc[:, 2:4])),axis=1)
print(X3.shape)

# X4 array contains pixel array, size
X4 = np.concatenate((X, np.array(merge_meta_pixel.iloc[:, 2:3])),axis=1)
print(X4.shape)

# X5 array contains pixel array, h_to_w 
X5 = np.concatenate((X, np.array(merge_meta_pixel.iloc[:, 3:4])),axis=1)
print(X5.shape)

# X6 array contains pixel array, filetype dummies 
X6 = np.concatenate((X, np.array(merge_meta_pixel.iloc[:, 4:7])),axis=1)
print(X6.shape)

# Standardize data
#scaler = StandardScaler() 
#scaled_df = scaler.fit_transform(raw_df) 
  
# Normalizing the Data 
#normalized_df = normalize(scaled_df) 
  
# Converting the numpy array into a pandas DataFrame 
#normalized_df = pd.DataFrame(normalized_df)

(3755, 150528)
(3755, 150533)
(3755, 150530)
(3755, 150529)
(3755, 150529)
(3755, 150531)

In [ ]:
# Reducing the dimensions of the data 
pca = PCA(n_components = 2) 
X_reduced = pca.fit_transform(X)

In [47]:
# Split into train and test data
train_data, test_data, train_labels, test_labels = train_test_split(X, y, test_size=0.4, random_state=1, stratify=y)

# Split test data into development data and training into mini train set for computation time
print('Test data shape for split:', test_data.shape)
dev_data, dev_labels = test_data[:751], test_labels[:751]
mini_train_data, mini_train_labels = train_data[:100], train_labels[:100]
print('Train data shape:', train_data.shape)

Test data shape for split: (1502, 150528)
Train data shape: (2253, 150528)

In [50]:
# Standardize pixel values between 0 and 1 by dividing by 255
#data = [train_data, test_data, dev_data, mini_train_data]

#print(train_data)

#for element in data:
#    for array in element:
#        for value in array:
#            value = value/255

**Logistic Regression**

In [ ]:
# Iterate through these C values
#c_values = [0.001, 0.01, 0.1, 0.2, 0.3, 0.4, 0.5, 1.0, 2.0, 5.0]
c_values = [0.001]
LR = []
for c in c_values:
    clf = LogisticRegression(C=c, solver='liblinear', multi_class='auto')
    clf.fit(mini_train_data, mini_train_labels)
    clf_pred = clf.predict(dev_data)
    coef_vector = clf.coef_
    LR.append(round(metrics.f1_score(dev_labels, clf_pred, average='weighted'),3))
    
print(LR)